body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 4rem;
  line-height: 1;
  /* font-size: 3.5em; */
  /* font-size: 50px; */
  /* font-size: 562.5%; */
  /* rem ignores parents font size*/
  /* 16px means 100% or 1em*/

  /* margin: 0 auto;
  width: 10%; */
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}
h3 {
  font-family: 'Montserrat', sans-serif;
}
hr {
  border: dotted #81b214;
  border-bottom: none;
  width: 5%;
  margin: 50px auto;
}
a {
  color: #116a9e;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #71119e;
}
p {
  line-height: 2;
}
.top {
  background-color: #a3d2ca;
  position: relative;
  padding-top: 100px;
}
.intro {
  width: 30%;
  margin: auto;
}
.middle {
  margin: 100px 0;
}
.bottom {
  background-color: #66bfbf;
  padding: 50px 0 10px;
}
.top-cloud {
  position: relative;
  left: 250px;
  top: 20px;
}
.bottom-cloud {
  position: absolute;
  left: 550px;
}
.skill-row {
  width: 50%;
  margin: 80px auto 200px auto;
  text-align: left;
}
.code {
  width: 25%;
  float: left;
  margin-right: 30px;
}
/* clear undo the wrapping */
/* .code-skill-desc {
  clear: left;
} */
.chilli {
  width: 25%;
  float: right;
  margin-left: 30px;
}
/* .chilli-desc {
  clear: right;
} */
.contact-message {
  width: 50%;
  margin: 40px auto 60px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.copyright {
  font-size: 0.75rem;
  padding: 20px 0 5px;
  margin: 0;
}
