h1 {
  color: red;
  font-size: 80px;
}
img {
  height: 200px;
}
img:hover {
  background-color: orange;
}

.bacon {
  background-color: greenyellow;
}
.broccoli {
  background-color: red;
}
.circular {
  border-radius: 100%;
}

#heading {
  color: blue;
}
